<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="SplishSplashFeed" value="https://kleinrechner.pkgs.visualstudio.com/SplishSplash/_packaging/SplishSplashFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <SplishSplashFeed>
      <add key="Username" value="%SplishSplashFeedUsername%" />
      <add key="ClearTextPassword" value="%SplishSplashFeedPassword%" />
    </SplishSplashFeed>
  </packageSourceCredentials>
</configuration>